.header--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  &__title {
    position: relative;
    text-align: center;
  }

  &__heading {
    font-size: 64px;

    & span {
      color: var(--accent);
    }
  }
  &__content {
    font-size: 74px;
    margin: 0px 0;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
      1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
      1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
      1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
      1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
      1px 30px 60px rgba(16, 16, 16, 0.4);
  }
}

.header__computer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header__btn {
  width: 20px;
  height: 50px;
  margin-top: 50px;
  background: transparent;
  border: 2px solid var(--text);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: var(--transition);

  &::after {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    background: var(--text);
    border-radius: 50%;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);

    animation: 3s moveDownUp infinite;
  }

  &:hover {
    border-color: var(--accent);
    &::after {
      background: var(--accent);
      animation-play-state: paused;
    }
  }
}

@keyframes moveDownUp {
  0% {
    transform: translate(-50%, 2px);
  }
  50% {
    transform: translate(-50%, 30px);
  }
  100% {
    transform: translate(-50%, 2px);
  }
}
