@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --fs-x-small: 12px;
  --fs-small: 14px;
  --fs-default: 16px;
  --fs-medium: 20px;
  --fs-big: 46px;

  --fw-extra-bold: 800;
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-default: 400;
  --fw-light: 300;

  --text: #e9e1ea;
  --text-accent: rgb(187, 175, 175);
  --background: 
  #060918 ;
  --background-item: transparent;
  --primary-button: #552fa7;
  --secondary-button: #f0dbf5;
  --accent: #912fa7;

  --box-shadow-default : box-shadow: 1px -1px 18px -2px rgba(0,0,0,0.8);

  --transition: all 0.3s ease-in-out;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
section{
  padding-top: 200px;
}

body {
  background: var(--background);
  color: var(--text);
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  border-top: 1px solid var(--text-accent);
  width: 100%;
  height: auto;

}

.layout {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
}
.w-full {
  width: 100%;
  height: 100vh;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.nav-fixed {
  position: fixed;
}

.relative {
  position: relative;

}

.heading {
  font-size: 60px;
  margin-left: 50px;
}
.heading-sub {
  font-size: 40px;
  text-transform: uppercase;
}
